.appBarShadow {
    height: 25px;
    background: linear-gradient(180deg, rgba(241, 68, 86, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.menuIcon {
    color: #FFFFFF;
}

.menu {
    margin-top: 12px;
}

.menuItem {
    height: 40px;
}

.menuItemIcon {
    margin-right: 15px;
}

.menuLink {
    text-decoration: none;
    color: inherit;
}

.appIcon {
    margin-right: 30px;
    transform: scale(1.8);
    color: #FFFFFF;
}